* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
  margin-top: 12px;
  text-align: center;
}

#images-preview {
  display: flex;
  width: 80vw;
  overflow: auto;
  align-items: center;
  gap: 20px;

}

#image-preview>img,
.image-preview {
  max-width: 400px;
  display: block;
  height: auto;
}

button,
.image-button {
  border: 0px solid;
  font: inherit;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: #007aff;
  color: white;
  cursor: pointer;
}

.image-button {
  position: fixed;
  top: 10px;
  left: 20px;
}

#process-button {
  position: fixed;
  top: 10px;
  right: 20px;
}

.image-preview-container {
  position: relative;
  max-width: 400px;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
}

#drop-area {
  border: 2px dashed #999;
  padding: 30px;
  text-align: center;
  color: #555;
  margin-top: 25px;
}

#drop-area:focus {
  border: 2px dashed #000;
}

.summary {
  margin-top: 20px;
}
